<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasketApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3CEC69425307FBA001E2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3CEC6AA25307FBC001E2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3CEC6B525307FBC001E2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
